{% extends 'admin/base.html.twig' %}

{% block body %}

    <div class="container" style="margin-bottom: 60px">
        <div class="row">
            <div class="col-6">
                {% form_theme form with ['bootstrap_4_layout.html.twig'] %}
                {{ form_start(form) }}
                {{ form_row(form.url) }}
                <button class="btn btn-primary">Сохранить</button>
                {{ form_end(form) }}
            </div>
            <div class="col-6">
                {% if product_new %}
                    <div>
                        <img width="200px" src="{{ product_new.img }}">
                    </div>
                    <h4>{{ product_new.name }}</h4>
                    <div>
                        <a
                           href="{{ path('admin.products.edit', {'id' : product_new.id}) }}">Редактровать</a>
                        <a target="_blank"
                           href="{{ path('products', {'alias' : product_new.alias}) }}">Просмотр</a>

                    </div>

                {% endif %}
            </div>

        </div>

    </div>

    <div class="container">

        <div class="row">
            {% for product in products %}
                <div class="col-12 col-md-3">
                    <div>
                        <a class="btn btn-danger"
                           href="{{ path('admin.products.delete', {'id' : product.id}) }}">Удалить</a>
                    </div>
                    <div>
                        <img width="200px" src="{{ product.img }}">
                    </div>
                    <h4>{{ product.name }}</h4>
                    <div>
                        <a
                           href="{{ path('admin.products.edit', {'id' : product.id}) }}">Редактровать</a>
                        <a target="_blank"
                           href="{{ path('products', {'alias' : product.alias}) }}">Просмотр</a>
                    </div>




                </div>
            {% endfor %}
        </div>

        {% if pages.needDisplay %}
            <div class="row" style="margin-top: 30px">
                <div class="col align-self-center">
                {% for page in pages.all %}

                    <a href="{{ path('admin.products', { 'page': page.number}) }}"
                       class="btn{{ page.isActive ? ' btn-success' : '' }}">{{ page.number }}</a>

                {% endfor %}
            </div>
            </div>
        {% endif %}

    </div>

{% endblock %}
