{% extends 'admin/base.html.twig' %}

{% block body %}

<div class="container">
    {% form_theme form with ['bootstrap_4_layout.html.twig'] %}
    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.price) }}
    <button class="btn btn-primary">Сохранить</button>
    {{ form_end(form) }}
</div>

{% endblock %}
