<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,shrink-to-fit=no">
    <title>{% block title %}Olx{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="/css/swiper.min.css">
        <link rel="stylesheet" href="/style.css">
        <link rel="icon" href="/favicon.ico">
    {% endblock %}
</head>
<body>
{% block header %}
<header class="header">
    <div class="header-fx">
        <div class="header-btn__logo">
            <a href="#" class="button-back">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14" color="#fff"
                     style="height: 14px; width: 14px;">
                    <path fill="currentColor" d="M14 6.125H3.351l4.891-4.891L7 0 0 7l7 7 1.234-1.234L3.35 7.875H14z"
                          fill-rule="evenodd"></path>
                </svg>
            </a>
            <a href="https://www.olx.ua/" class="olx-logo has-backButtonTransition"></a>
        </div>


        <ul class="header-nav">
            <li class="header-nav_item">
                <a href="https://www.olx.ua/ru/i2/adding" class="header-nav_link">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 17" color="#fff"
                         style="height: 20px; width: 20px;">
                        <path fill="currentColor"
                              d="M16.958 9.708h-7.25v7.25H7.292v-7.25H.042V7.292h7.25V.042h2.416v7.25h7.25z"
                              fill-rule="evenodd"></path>
                    </svg>
                </a>
            </li>
            <li class="header-nav_item">
                <a href="https://m.olx.ua/account/menu/" class="header-nav_link">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18" color="#fff"
                         style="height: 20px; width: 20px;">
                        <g fill="currentColor" fill-rule="evenodd">
                            <circle cx="9" cy="4.5" r="4.5"></circle>
                            <path d="M9 11.25c-3.004 0-9 1.508-9 4.5V18h18v-2.25c0-2.992-5.996-4.5-9-4.5z"></path>
                        </g>
                    </svg>
                </a>
            </li>
            <li class="header-nav_item relative-item item__height">
                <a href="https://m.olx.ua/myaccount/answers/" class="header-nav_link relative-item">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" color="#fff"
                         class="c-navigation__messages-icon" style="height: 20px; width: 20px;">
                        <path fill="currentColor"
                              d="M18 0H2C.9 0 .01.9.01 2L0 14c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V2c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V2l8 5 8-5v2z"
                              fill-rule="evenodd"></path>
                    </svg>
                    <div class="mess-counter"></div>
                </a>
            </li>
            <li class="header-nav_item ">
                <a href="https://m.olx.ua/favorites/" class="header-nav_link ">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 19" color="#fff"
                         style="height: 20px; width: 20px;">
                        <path fill="currentColor"
                              d="M16.18 19l-1.635-7.029L20 7.244l-7.191-.617L10 0 7.191 6.627 0 7.244l5.455 4.727L3.82 19 10 15.272z"></path>
                    </svg>
                </a>
            </li>
            <li class="header-nav_item">
                <a href="https://m.olx.ua/searchform/" class="header-nav_link">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 21" color="#fff"
                         style="height: 20px; width: 20px;">
                        <g fill="#FFF" fill-rule="evenodd">
                            <path d="M20 4.5v-2H0v2z"></path>
                            <circle cx="5" cy="3.5" r="3"></circle>
                            <g transform="translate(0 7)">
                                <path d="M20 4.5v-2H0v2z"></path>
                                <circle cx="14" cy="3.5" r="3"></circle>
                            </g>
                            <g transform="translate(0 14)">
                                <path d="M20 4.5v-2H0v2z"></path>
                                <circle cx="8" cy="3.5" r="3"></circle>
                            </g>
                        </g>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</header>
{% endblock %}
{% block body %}

{% endblock %}


{% block js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="/js/swiper.min.js"></script>
    <script src="/script.js"></script>
{% endblock %}
</body>
</html>
