<!DOCTYPE html>
<!-- saved from url=(0060)https://olx.ua.obyavlenie.co/safedeal/payment/633659717/pay/ -->
<html style="/*! --vh:8.12px; */" class="">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,shrink-to-fit=no">
    <meta name="theme-color" content="#f9f9f9">
    <meta name="version" content="eecf12428_ade29">

    <title>Сервис объявлений OLX: сайт частных объявлений в Украине - купля/продажа б/у товаров на OLX.ua</title>
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="robots" content="noindex, nofollow" data-react-helmet="true">
    <meta name="description"
          content="OLX.ua - крупнейший сервис объявлений Украины. Огромная база предложений по темам: недвижимость, работа, транспорт, купля/продажа товаров, услуги и многое другое на OLX.ua!"
          data-react-helmet="true">

    {% block css %}

        <link rel="stylesheet" href="/original/normalize.min.css">
        <link rel="manifest" href="https://m.olx.ua/manifest.json">
        <link rel="shortcut icon" href="https://m.olx.ua/favicon.ico">
        <link rel="stylesheet" href="/original/style.css" type="text/css" media="all">
        <link href="/original/font-awesome.css" rel="stylesheet">
        <link rel="apple-touch-startup-image"
              media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3)"
              href="https://static-olxeu.akamaized.net/app/splash_1125_2436.png">
        <link rel="apple-touch-startup-image"
              media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)"
              href="https://static-olxeu.akamaized.net/app/splash_750_1334.png">
        <link rel="apple-touch-startup-image"
              media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3)"
              href="https://static-olxeu.akamaized.net/app/splash_1242_2208.png">
        <link rel="apple-touch-startup-image"
              media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)"
              href="https://static-olxeu.akamaized.net/app/splash_640_1136.png">
        <link rel="apple-touch-startup-image"
              media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2)"
              href="https://static-olxeu.akamaized.net/app/splash_1536_2048.png">
        <link rel="apple-touch-startup-image"
              media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2)"
              href="https://static-olxeu.akamaized.net/app/splash_1668_2224.png">
        <link rel="apple-touch-startup-image"
              media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2)"
              href="https://static-olxeu.akamaized.net/app/splash_2048_2732.png">
        <link rel="apple-touch-icon" href="https://static-olxeu.akamaized.net/app/apple-touch-icon.png">
        <link href="/original/css.css" rel="stylesheet">
{#        <link href="./info_files/css" rel="stylesheet">#}
    {% endblock %}

</head>
<body class="">
<div id="didomi-host"></div>
<iframe name="__cmpLocator" style="display: none;" src="/original/saved_resource.html"></iframe>
<div id="root">
    <div class="t-mobile">
        {% block body %}
        {% endblock %}
    </div>
    <div></div>
    <div id="modalRoot"></div>
</div>
<noscript>This page needs javascript to run.</noscript>

</div>
</div>

{% block js %}
<script src="/original/jquery.min.js"></script>
{% endblock %}
</body>
</html>
