<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,shrink-to-fit=no">
    <link rel="stylesheet" type="text/css"
          href="{{ asset('https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css') }}">

</head>
<body>
<main>
    <div class="container">
        <form method="post">


            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}


            <h1 class="h3 mb-3 font-weight-normal">Введите логин и пароль</h1>
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <div class="form-group">
                <label for="inputEmail">Email</label>
                <input type="text" value="{{ last_username }}" name="email" id="inputEmail" class="form-control"
                       required autofocus>
            </div>
            <div class="form-group">
                <label for="inputPassword">Пароль</label>
                <input type="password" name="password" id="inputPassword" class="form-control" required>
            </div>


            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >
            <div class="form-group">
                <button class="btn btn-lg btn-primary" type="submit">
                    Войти
                </button>
            </div>
        </form>
    </div>
</main>
</body>
</html>
