{% extends 'base_order.html.twig' %}

{% block body %}



    <div class="c-layout">
        <form class="c-filters-component" novalidate="" method="post" id="form-user-info">

            {% include 'partial/olx-header.html.twig' with {'href': path('products', {'alias': pr.alias}), 'title': 'Данные доставки'} %}

            <div class="ripple-button filter-selector" style="overflow: hidden;">
                <div class="wowmathoer">
                    <img src="{{ pr.img }}" height="58px" style="max-height: 58px;">
                </div>
                <div class="filter-selector__label">
                    <h4 class="c-single-select__title2">Продавец: {{ pr.author }}</h4>
                    <h4 class="c-single-select__title3">{{ pr.name }}</h4>
                    <h4 class="c-single-select__title4">{{ pr.price }} грн.</h4>
                </div>
            </div>
            <div class="titlenadnad">Контактные данные:</div>

            <div class="c-price-field__item">
                <div class="c-single-select__title5">Фамилия</div>
                <div class="c-range-price">
                    <div class="c-range-price__col">
                        {{ form_widget(form.lastName, {'attr': {'class': 'c-range-price__textField'}}) }}
                    </div>
                </div>
            </div>
            <div class="c-price-field__item">
                <div class="c-single-select__title5">Имя</div>
                <div class="c-range-price">
                    <div class="c-range-price__col">
                        {{ form_widget(form.firstName, {'attr': {'class': 'c-range-price__textField'}}) }}
                    </div>
                </div>
            </div>
            <div class="c-price-field__item">
                <div class="c-single-select__title5">Отчество</div>
                <div class="c-range-price">
                    <div class="c-range-price__col">
                        {{ form_widget(form.addName, {'attr': {'class': 'c-range-price__textField'}}) }}
                    </div>
                </div>
            </div>
            <div class="c-price-field__item">
                <div class="c-single-select__title5">Телефон</div>
                <div class="c-range-price">
                    <div class="c-range-price__col">
                        {{ form_widget(form.phone, {'attr': {'class': 'c-range-price__textField'}}) }}
                    </div>
                </div>
            </div>
            <div class="c-price-field__item">
                <div class="c-single-select__title5">E-mail</div>
                <div class="c-range-price">
                    <div class="c-range-price__col">
                        {{ form_widget(form.email, {'attr': {'class': 'c-range-price__textField'}}) }}
                        <div style="color: red">{{ form_errors(form.email) }}</div>
                    </div>
                </div>
            </div>
            <div>

            </div>

            <div class="c-filters-component__footer">
                <div class="ripple-button" style="overflow: hidden;width: 97%;">
                    <a onclick="document.getElementById('form-user-info').submit();"
                       class="btn-component btn-search-form qa-btn-search-form"><span>Выбрать отделение "Нова пошта"</span>
                    </a>
                </div>
            </div>
        </form>
        <div class="c-footer">
        </div>
    </div>


    {#        <div class="row">#}

    {#            <div class="col-3">#}
    {#                <img src="{{ pr.img }}" width="100%">#}
    {#            </div>#}
    {#            <div class="col-9">#}
    {#                <p style="margin-bottom: 0">Продавец: {{ pr.author }}</p>#}
    {#                <p style="margin-bottom: 0" class="font-weight-bold">{{ pr.name }}</p>#}
    {#                <p style="margin-bottom: 0">{{ pr.price }} грн.</p>#}
    {#            </div>#}

    {#        </div>#}

    {#        <div style="margin-top: 10px">#}
    {#            <p class="text-center  ">Контактная информация</p>#}
    {#            {{ form_start(form) }}#}
    {#            <div class="form-group">#}
    {#                <label class="mr-sm-2">Фамилия</label>#}
    {#                {{ form_widget(form.lastName, {'attr': {'class': 'form-control'}}) }}#}
    {#            </div>#}
    {#            <div class="form-group">#}
    {#                <label class="mr-sm-2">Имя</label>#}
    {#                {{ form_widget(form.firstName, {'attr': {'class': 'form-control'}}) }}#}
    {#            </div>#}
    {#            <div class="form-group">#}
    {#                <label class="mr-sm-2">Телефон</label>#}
    {#                {{ form_widget(form.phone, {'attr': {'class': 'form-control'}}) }}#}
    {#            </div>#}
    {#            <div class="form-group">#}
    {#                <label class="mr-sm-2">Email</label>#}
    {#                {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}#}
    {#            </div>#}
    {#            <div class="form-group">#}
    {#                <button class="btn btn-primary form-control">Далее</button>#}
    {#            </div>#}

    {#            {{ form_end(form) }}#}
    {#        </div>#}



{% endblock %}
