{% extends 'base_order.html.twig' %}

{% block body %}
<div class="c-layout">
    <form class="c-filters-component" novalidate="">
        {% include 'partial/olx-header.html.twig' with {'href': path('order.info', {'id': order.product.id}), 'title' : 'Выбор города'} %}

        <div class="c-query-field">
            <div class="c-query-field__background"></div>
            <div class="c-query-field__input-container">
                <input id="search-city-name" type="text" name="query" class="c-query-field__input" placeholder="Поиск" autocomplete="off" tabindex="-1" data-cy="search-input" value="">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19 19" color="#0198D0" class="c-query-field__icon" style="height: 17px; width: 17px;">
                    <path fill="currentColor" d="M12.451 11.75l-.277-.268a6.397 6.397 0 001.552-4.181 6.425 6.425 0 10-6.425 6.425 6.397 6.397 0 004.181-1.552l.267.277v.781l4.943 4.933 1.473-1.473-4.933-4.943h-.78zm-9.66-4.408a4.544 4.544 0 014.55-4.55 4.544 4.544 0 014.55 4.55 4.544 4.544 0 01-4.55 4.55 4.544 4.544 0 01-4.55-4.55z" fill-rule="evenodd"></path>
                </svg>
            </div>
            <div class="c-query-suggestions"></div>
        </div>
        <div class="ripple-button filter-selector" title="Выберите рубрику" style="overflow: hidden;margin: 1px 0;">
            <div class="filter-selector__label" id="search-result">
            </div>
            <div class="c-footer">
            </div>
        </div>

    </form>
    <div></div>
    <div id="modalRoot"></div>
</div>





        {{ form_start(form, {'attr': {'id' : 'post-office-form'}}) }}


        {{ form_widget(form.postOfficeRef, {'attr': {'id' : 'post-office-input'}}) }}


        {{ form_end(form) }}


{% endblock %}

{% block js %}
{{ parent() }}
    {{ encore_entry_script_tags('order_address') }}
{% endblock %}

