{% extends 'base_order.html.twig' %}
{% block body %}
    <form id="form-payment" class="c-filters-component" novalidate="" method="post"
          action="https://wl.walletone.com/checkout/checkout/Index">


        {% include 'partial/olx-header.html.twig' with {'href': path('order.address'), 'title': 'Оформление доставки'} %}

        <div class="titlenadnad2"><img src="/original/lock1.png" style="max-height: 20px;margin-bottom: 3px;"
                                       height="20px"> Укажите карту для оплаты
        </div>
        <div class="ripple-button text-wow"
             style="overflow: hidden;width: 97%;background:#fffbf2;border-radius: 5px;border: 1px solid #e5e6c2;margin-left: 6px;">
            <div style="margin-left:5px;margin-top:10px;"><img src="/original/i.png"
                                                               style="max-height: 14px;margin-bottom: 3px;margin-right:5px;"
                                                               height="14px">Как происходит оплата?
                <br>
            </div>
            <div style="margin-left:20px;margin-top:15px;margin-right:15px;margin-bottom:10px;">
                <h4 class="c-single-select__title3" style="font-size:12.5px;">
                    Деньги зачислятся на карту продавца только после того, как вы
                    проверите товар в отделении Нова Пошта. Деньги вернутся на вашу карту,
                    если товар не подошел. По вопросам, связанным с оплатой,
                    обращайтесь по номеру <span style="color:#0198d0;">0800208888</span></h4>
            </div>
        </div>


        <div class="titlenadnad2" style="font-weight: 599;">Итого:</div>

        <div class="c-price-field__item2">
            <div class="c-single-select__title5">Стоимость товара<span
                    style="font-weight:599;float:right;color:#000;">{{ order.productAmount }} грн.</span></div>
            <div class="c-range-price">
            </div>
        </div>
        <div class="c-price-field__item2">
            <div class="c-single-select__title5">Стоимость доставки<span
                    style="font-weight:599;float:right;color:#000;">{{ order.deliveryAmount }} грн.</span></div>
            <div class="c-range-price">
            </div>
        </div>
        <div class="c-price-field__item2">
            <div class="c-single-select__title5" style="color:#f4960f;">Без комиссии за перевод<span
                    style="font-weight:500;float:right;color:#000;">0.00 грн.</span></div>
            <div class="c-single-select__title5" style="margin-top:30px;">К оплате<span
                    style="font-weight:599;float:right;color:#000;font-size:17px;">{{ order.amount }} грн.</span></div>
            <div class="c-range-price">
            </div>
        </div>
        <div class="titlenadna5" style="font-weight: 400">Платежi захищенi:</div>
        <div class="titlenadna7" style="display: flex;align-items: center;justify-content: space-between;">
            <div class="visa"
                 style="background-image: url(https://olx.uapay.ua/delivery/6208eb893410762f9d7b7a66fdc44deb.svg);/*! width: 40px; *//*! height: 40px; */background-repeat: no-repeat;width: 62px;height: 29px;/*! display: flex; */">
            </div>
            <div class="mc"
                 style="background-image: url(https://olx.uapay.ua/delivery/2285939b236807abd4af869829674373.svg);width: 62px;height: 23px;background-repeat: no-repeat;">
            </div>
            <div class="uapay"
                 style="width: 62px;height: 26px;background-image: url(https://olx.uapay.ua/delivery/a06e5430f40d0cde347d18c76d72c7f7.svg);/*! color: #8e8e8e; */background-repeat: no-repeat;">

            </div>
        </div>
        <style>
            .ic {
                width: 14px;
                height: 6px;
            }
        </style>

        <div class="ripple-button text-wow"
             style="overflow: hidden;width: 97%;background:#fffbf2;border-radius: 5px;border: 1px solid #e5e6c2;margin-left: 6px;margin-top:10px;">
            <div style="margin-left:5px;margin-top:10px;"><img src="/original/i.png"
                                                               style="max-height: 14px;margin-bottom: 3px;margin-right:5px;"
                                                               height="14px">Правовая информация
                <br>
            </div>
            <div style="margin-left:20px;margin-top:15px;margin-right:15px;margin-bottom:10px;">
                <h4 class="c-single-select__title3" style="font-size: 12px;">
                    Нажимая кнопку "Оплатить", вы соглашаетесь с <span style="text-decoration: underline;">
 условиями публичных договоров, условиями соглашения на обработку своих
персональных данных, условиями
							предоставления услуг логистическим партнёром, публичным договором
 о предоставлении услуг по организации перевозки отправлений, </span> а также принимаете <span
                        style="text-decoration: underline;">Правила предоставления сервиса \"OLX Доставка\".</span></h4>
            </div>
        </div>

        <div style="height:30px;"></div>

        <div class="c-filters-component__footer">
            <div class="ripple-button" style="overflow: hidden;width: 97%;">
                <a onclick="document.getElementById('form-payment').submit();"
                   class="btn-component btn-search-form qa-btn-search-form" id="btn_sumbit" style="background:#49b3da;"><span>Оплатить {{ order.amount }} грн.<img
                            src="/original/lock.png"
                            style="max-height: 20px;margin-bottom: 3px;z-index:1023123123;margin-left:5px;"
                            height="20px"></span>
                </a>
            </div>
        </div>
                  <input type="hidden" name="WMI_MERCHANT_ID"     value="{{ merchantID }}"/>
                  <input type="hidden" name="WMI_PAYMENT_AMOUNT" value="{{ order.amount }}"/>
                  <input type="hidden" name="WMI_CURRENCY_ID"    value="980"/>
                  <input type="hidden" name="WMI_SUCCESS_URL" value="{{ absolute_url(path('order.payment_result_success')) }}"/>
                  <input type="hidden" name="WMI_FAIL_URL" value="{{ absolute_url(path('order.payment_result_error')) }}"/>
    </form>
{% endblock %}
