{% extends 'base_order.html.twig' %}
{% block body %}
<div class="c-layout">
    <form class="c-filters-component" novalidate="" action="{{path('products', {'alias': pr.alias})}}">
        <div class="c-header" style="background-color:#f9f9f9;box-shadow:none;">
            <button type="submit" class="btn-back">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14" color="#9f9f9f" style="height: 14px; width: 14px;">
                    <path fill="currentColor" d="M14 6.125H3.351l4.891-4.891L7 0 0 7l7 7 1.234-1.234L3.35 7.875H14z" fill-rule="evenodd"></path>
                </svg>
            </button>
            <div class="c-header__title"><span></span></div>
        </div>
        <div class="forimagediv">
            <img src="/original/1.png" height="161px" style="max-height: 161px;">
        </div>
        <div class="for2div">
            Гарантированно получайте товар или деньги вернутся на вашу карту
        </div>
        <div class="for3div">
            <span class="for4div">1</span>Быстрая оплата онлайн
        </div>
        <div class="for3div">
            <span class="for4div">2</span>Проверка товара в отделении Нова Пошта
        </div>
        <div class="for3div">
            <span class="for4div">3</span>Деньги вернутся на вашу карту, если товар не<br>   подошел
        </div>

        <div class="c-filters-component__footer">
            <div class="ripple-button" style="overflow: hidden;width: 97%;">
                <a href="{{ path('order.info', {'id': pr.id}) }}" class="btn-component"><span>Далее</span>
                </a>
            </div>
        </div>
    </form>
    <div class="c-footer">
    </div>
</div>
{% endblock %}
