{% extends 'base_order.html.twig' %}
{% block title %}Успешная оплата{% endblock %}
{% block prev_url 'https://olx.ua' %}
{% block body %}

    <div class="container">
        <h1>Оплата прошла успешно!</h1>
        <div class="form-group">
            <div class="form-group">
                <button class="btn btn-primary form-control">Продолжить</button>
            </div>
         </div>
    </div>


{% endblock %}
