{% extends 'base.html.twig' %}
{% block title %}{{ pr.name }}{% endblock %}
{% block body %}

<div class="main-container">


    <main class="main">


<div class="main-content">


    <div class="photo_container">
        <div id="qa-photo-component" class="qa-photo-component  has-contact-visible">
            <div id="qa-swiper-preview" class="qa-swiper-preview swiper-preview">
                <div
                    class="swiper-container swiper-container-initialized swiper-container-horizontal swiper-container-android">
                    <div class="swiper-wrapper">
                        {% for img in pr.images %}
                        <div class="swiper-slide swiper-slide-{{ loop.first ? 'active' : 'next' }}" style="width: 818px;">
                            <div class="swiper-zoom-container">
                                <img
                                    src="{{ img }}"
                                    srcset="{{ img }}"
                                    alt="{{ pr.name }}">
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets">
								<span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0"
                                      role="button" aria-label="Go to slide 1">

								</span>
                        <span class="swiper-pagination-bullet" tabindex="0" role="button"
                              aria-label="Go to slide 2"></span>
                    </div>
                    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>

                </div>


            </div>
        </div>
        <button id="btn-close-prev" class="btn-close-preview">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14" color="#fff"
                 style="height: 14px; width: 14px;">
                <path fill="currentColor" d="M14 6.125H3.351l4.891-4.891L7 0 0 7l7 7 1.234-1.234L3.35 7.875H14z"
                      fill-rule="evenodd"></path>
            </svg>
        </button>
    </div>


</div>


<div class="container-ad__header">
    <div class="container-ad__price-fav-container">
        <div class="container-ad__price">
            <div class="c-ad-price"><span
                    class="c-ad-price__regular c-ad-price__regular--small">{{ pr.price }} грн. </span></div>
        </div>
        <div class="favourite-container">
            <div class="star-label">observed.label.isInactive</div>
            <div class="qa-star-button star-background  default">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21 19" color="#323232"
                     class="star-background__icon qa-fav-disabled" style="height: 22px; width: 22px;">
                    <path fill="currentColor" fill-rule="evenodd"
                          d="M21 7.24l-7.55-.62L10.5 0 7.55 6.63 0 7.24l5.733 4.73L4.011 19l6.489-3.73L16.989 19l-1.712-7.03L21 7.24zm-10.505 6.397L6.478 15.99l1.068-4.436L4 8.57l4.679-.394L10.495 4l1.826 4.187L17 8.58l-3.546 2.985L14.522 16l-4.027-2.363z"></path>
                </svg>
            </div>
        </div>
    </div>
    <div class="container-ad__title qa-title">
        <div class="c-ad-title"><h1 id="forTab">{{ pr.name }}</h1></div>
    </div>
    <div class="container-ad__location">
        <div class="c-location"><img
                src="https://static-olxeu.akamaized.net/app/static/media/ic_location.801ed2ddf.svg"
                alt="Киевская область, Киев, Голосеевский"><span class="c-location__name">{{ pr.address }}</span>
        </div>
    </div>
    <div class="container-ad__parameters">
        <div class="c-parameters">
            <div class="c-courier-parameter c-courier-parameter--normal" data-sitecode="olxua"><span>Товари з доставкою</span>
            </div>
            {% for field, value in pr.options %}
            <div class="c-parameter">{{ field }}: <span class="c-parameter__value">{{ value }}</span></div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="container-ad__description_params">
    <div class="container-ad__date">
        <div class="c-date"><span> </span>
            <div class="c-date__left_text">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 16" color="#a0a0a0" class="icon"
                     style="height: 15px; width: 15px;">
                    <defs>
                        <path id="a"
                              d="M158.994 639a6.003 6.003 0 016.006 6c0 3.312-2.688 6-6.006 6a5.997 5.997 0 01-5.994-6c0-3.312 2.682-6 5.994-6zm-1.371 2.318v4.113l3.842 2.16.549-.843-3.294-1.83.28-3.498-1.377-.102z"></path>
                    </defs>
                    <use fill="#A0A0A0" fill-rule="evenodd" transform="translate(-153 -635)"
                         xlink:href="#a"></use>
                </svg>
                <span>{{ pr.offerCreatedAt }}</span></div>
        </div>
    </div>
    <div id="adpage-link" style="display: none;"></div>
</div>

<div class="olx-delivery-box">
    <a href="{{ path('order.prev_info', {'id': pr.id}) }}" class="sfdeal">
        <span class="contactbox-indent rel brkword">Купить с  доставкой</span>
    </a>

</div>

<div class="container-ad__description">
    <div class="container">
        <div class="c-description qa-description">
            <div class="description-box qa-descriptionBox"
                 style="transition: height 0.175s ease 0s; line-height: 22px;">
                <div>
                    <div class="description-box__content">
                        {{ pr.description|raw }}
                    </div>
                </div>
            </div>
            <div class="c-description__more is-hidden qa-showMoreButton qa-descriptionShowMoreButtonHidden">
                <button class="btn-show-more qa-descriptionShowMoreButton"><span>Показать больше</span></button>
            </div>
        </div>
    </div>
</div>

<div class="user"><a target="_blank" name="user_ads" class="user__link" href="{{ pr.authorOffersLink }}">
        <div class="user__profile">
            <div class="container user__container"><span class="user__name">{{ pr.author }}</span><span
                    class="user__last-seen"><div
                        class="qa-yesterday"><span>{{ pr.authorRegDate }}</div></span>
                <div class="user__photo">
                    <div class="user__photo-badge">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18" color="#c7c7c7"
                             class="user__photo-icon" style="height: 20px; width: 20px;">
                            <g fill="currentColor" fill-rule="evenodd">
                                <circle cx="9" cy="4.5" r="4.5"></circle>
                                <path
                                    d="M9 11.25c-3.004 0-9 1.508-9 4.5V18h18v-2.25c0-2.992-5.996-4.5-9-4.5z"></path>
                            </g>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
        <div class="user__other-ads">
            <div class="container qa-otherAds">
                <div class="user__other-ads-link"><span>Другие объявления автора</span></div>
            </div>
        </div>
    </a></div>

<div class="container-ad__map">
    <div class="c-map__container qa-static-ad-map-container">
        <div class="c-map__badge">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 13" color="#a0a0a0" class="c-map__icon"
                 style="height: 15px; width: 15px;">
                <path fill="currentColor" fill-rule="evenodd"
                      d="M4.807 0C2.15 0 0 2.034 0 4.55 0 7.963 4.807 13 4.807 13s4.808-5.037 4.808-8.45C9.615 2.035 7.465 0 4.807 0zm0 6c-.884 0-1.602-.672-1.602-1.5S3.923 3 4.807 3c.885 0 1.603.672 1.603 1.5S5.692 6 4.807 6z"></path>
            </svg>
            <span class="c-map__name">{{ pr.address }}</span></div>
        <div class="c-map__map"></div>
    </div>
    <div class="qa-map-overlay-hidden"></div>
</div>

<div class="c-ad-footer qa-adFooter"><a class="shareOnFacebookLink qa-fbShareButton"
                                        data-testid="qa-fbShareButton"
                                        href="https://www.facebook.com/sharer/sharer.php?u={{ absolute_url(path('products', {'alias': pr.alias})) }}"
                                        target="_blank" rel="noopener noreferrer">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" class="icon"
             style="height: 16px; width: 16px;">
            <defs>
                <path id="a" d="M8 0H0v16h16V0z"></path>
            </defs>
            <path fill="#3B5385"
                  d="M15.3 0H.7C.3 0 0 .3 0 .7v14.7c0 .3.3.6.7.6H8v-5H6V8h2V6c0-2.1 1.2-3 3-3h2v3h-1c-.6 0-1 .4-1 1v1h2.6l-.6 3h-2v5h4.3c.4 0 .7-.3.7-.7V.7c0-.4-.3-.7-.7-.7"
                  fill-rule="evenodd"></path>
        </svg>
        <span class="fbLabel"><span>Поделиться</span></span></a>
    <div class="c-ad-footer__details">
        <button class="btn-ad-footer">ID:<span data-testid="qa-adIdLabel"
                                               class="qa-adIdLabel value">{{ pr.number }}</span></button>
        <div class="c-page-view-counter" data-testid="page-view-counter">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 9" class="c-page-view-counter__icon"
                 style="height: 18px; width: 18px;">
                <path fill="#9F9F9F"
                      d="M6.52.395A6.505 6.505 0 00.47 4.52a6.505 6.505 0 006.05 4.125c2.75 0 5.098-1.71 6.05-4.125A6.505 6.505 0 006.52.395zm0 6.875a2.751 2.751 0 010-5.5 2.751 2.751 0 010 5.5zm0-4.4c-.913 0-1.65.737-1.65 1.65 0 .913.737 1.65 1.65 1.65.913 0 1.65-.737 1.65-1.65 0-.913-.737-1.65-1.65-1.65z"></path>
            </svg>
            <span class="c-page-view-counter__label">{{ pr.viewCount }}</span></div>
        <a class="qa-reportAbuseBtn btn-ad-footer btn-ad-footer--abuse" data-testid="qa-reportAbuseBtn"
           href="https://www.olx.ua//obyavlenie/abuse/630918226/">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 11 15" color="#A0A0A0" class="icon"
                 style="height: 15px; width: 15px;">
                <path fill="#A0A0A0" fill-rule="evenodd"
                      d="M1 6.976V1h8L6.788 3.606a.62.62 0 000 .788L9 7H1v-.024zm7.139-2.785L10.852 1a.635.635 0 00.093-.643.59.59 0 00-.538-.357H0v15h1.17V8.333h9.237a.59.59 0 00.538-.357.594.594 0 00-.093-.643L8.139 4.191z"></path>
            </svg>
            <span class="value"><span>Пожаловаться</span></span></a></div>
</div>

<div class="c-contact-bar">
    <div class="ripple-button qa-contactMessage  btn-chat" name="contact" data-testid="ripple-button"
         style="overflow: hidden;"><img class="btn-chat__sendmessage"
                                        src="https://static-olxeu.akamaized.net/app/static/media/ic-msg.1a8eb2eee.svg"
                                        alt="Message"><span>Написать автору</span></div>
    <div class="ripple-button qa-contactCall btn-call" data-testid="ripple-button" style="overflow: hidden;">
        <img class="btn-call__phone"
             src="https://static-olxeu.akamaized.net/app/static/media/ic-phone.1617b633f.svg" alt="Zgłoś"><span>Позвонить / SMS</span>
    </div>
</div>
    </main>
</div>
{% endblock %}
