<div class="c-header">
    <a href="{{ href ?? '#' }}" class="btn-back">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14" color="#fff" style="height: 14px; width: 14px;">
            <path fill="currentColor" d="M14 6.125H3.351l4.891-4.891L7 0 0 7l7 7 1.234-1.234L3.35 7.875H14z" fill-rule="evenodd"></path>
        </svg>
    </a>
    <div class="c-header__title">{{ title ?? 'Оформление доставки' }}</div>
</div>
